#container {
    border: 5px solid yellow;
    background-image: url('/web/assets/svg/level1.svg');
    background-size: contain;
    height: 600px;
    width: 1200px;
    position: absolute;
    align-self: center;
    z-index: 50;
}

#player1 {
    position: absolute;
    left: 360px;
    top: 160px;
    z-index: 100;
}

#player2 {
    position: absolute;
    left: 515px;
    top: 430px;
    z-index: 101;
}

#bot1 {
    position: absolute;
    left: 340px;
    top: 160px;
    z-index: 101;
}

#bot2 {
    position: absolute;
    left: 220px;
    top: 5px;
    z-index: 101;
}

#bot3 {
    position: absolute;
    left: 420px;
    top: 5px;
    z-index: 101;
}

#gem1 {
    position: absolute;
    left: 200px;
    top: 285px;
    z-index: 101;
}

#gem2 {
    position: absolute;
    left: 500px;
    top: 285px;
    z-index: 101;
}

#gem3 {
    position: absolute;
    left: 450px;
    top: 285px;
    z-index: 101;
}

#gem4 {
    position: absolute;
    left: 600px;
    top: 400px;
    z-index: 101;
}

#myHealthBar {
  width: 100%;
  background-color: #ddd;
}

#myHealth {
  width: 100%;
  height: 30px;
  background-color: #4CAF50;
}

#otherHealthBar {
  width: 100%;
  background-color: #ddd;
}

#otherHealth {
  width: 100%;
  height: 30px;
  background-color: #4CAF50;
}
