@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');

#theme {
    top: 25%;
    left: 25%;
    font-size: 60px;
    font-family: 'Permanent Marker', cursive;
    color: purple;
    position: absolute;
    z-index: 2;
    visibility: show;
    animation: glow .5s infinite alternate;
}

@keyframes glow {
    to {
        text-shadow: 0 0 10px red;
    }
}

#btn {
    top: 60%;
    left: 50%;
    position: absolute;
    z-index: 10;
    visibility: show;
}

body {
    background-image:url("/web/assets/img/tom_and_jerry.png");
    background-size: contain;
    background-color: lightgreen;
    background-size: 80% 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
