#theme {
    top: 35%;
    left: 40%;
    font-size: 30px;
    position: absolute;
    z-index: 2;
    visibility: show;
}

#btn {
    top: 50%;
    left: 50%;
    position: absolute;
    z-index: 1;
    visibility: show;
}

body {
    background-image:url("/web/assets/img/front.png");
    background-size:contain;
    background-size: 80% 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
